<div class="page login-page">
    <div class="container">
      <div class="form-outer text-center d-flex align-items-center">
        <div class="form-inner">
          <div class="logo text-uppercase"><strong class="text-primary">Faca o login</strong></div>
          <p>Acesso Restrito para administrador</p>
          <form method="get" class="text-left form-validate">
            <div class="form-group-material">
              <input id="login-useremail" type="text" name="loginUseremail" required data-msg="Por favor insira o teu email" class="input-material">
              <label for="login-useremail" class="label-material">Email</label>
            </div>
            <div class="form-group-material">
              <input id="login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
              <label for="login-password" class="label-material">Password</label>
            </div>
            <div class="form-group text-center"><a id="login" href="index.html" class="btn btn-primary">Login</a>
              <!-- This should be submit button but I replaced it with <a> for demo purposes-->
            </div>
          </form><a href="#" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="register.html" class="signup">Signup</a>
        </div>
       
    </div>
  </div>