<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <!-- Sidebar Header    -->
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <!-- User Info-->
      <div class="sidenav-header-inner text-center"><img src="img/avatar-7.jpg" alt="person" class="img-fluid rounded-circle">
        <h2 class="h5">Neysis Neysis</h2><span>Web Developer</span>
      </div>
      <!-- Small Brand information, appears on minimized sidebar-->
      <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
    </div>
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">
      <h5 class="sidenav-heading"><a routerLink="/home">HOME</a></h5>
    </div>
    <div class="main-menu">
      <h5 class="sidenav-heading"><a routerLink="/ocorrencia">CENTRAL OCORRENCIA</a></h5>
    </div>
    <div class="main-menu">
      <h5 class="sidenav-heading">CENTRAL INQUERITO</h5>
    </div>
    <div class="admin-menu">
      <h5 class="sidenav-heading">INFORMACAO</h5>
    </div>
  </div>
</nav>
