<div class="container-fluid" id="home_container">

    <div class="title">
      <h1 class="text-primary" style="color: black;">
          Central Ocorrencias
      </h1>
    </div>
 
    <div>
       
         <div class="card card_chart">
            <div class="input-group mb-3">

           <!--     <span id="filtrar">Filtrar</span> --> <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar" aria-describedby="search">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </div>
              

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">NOME OCORRENCIA</th>
                    <th scope="col">ID CATEGORIA</th>
                    <th scope="col">LOCAL</th>
                    <th scope="col">CRIAÇÃO</th>
                    <th scope="col">ACÇÃO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ocorrencia of lista_ocorrencia">
                    <th scope="row">{{ocorrencia.id}}</th>
                    <td>{{ocorrencia.estado}}</td>
                    <td>{{ocorrencia.nome_ocorrencia}}</td>
                    <td>{{ocorrencia.categoria_id}}</td>
                    <td>{{ocorrencia.localizacao}}</td>
                    <td>{{ocorrencia.created_at}}</td>
                    <td><button type="button" class="btn btn-danger">ELIMINAR</button></td>
                  </tr>
               
                </tbody>
              </table>
           </div>
      
    </div>

    
 </div>