<div class="container" id="home_container">

    <div class="title">
      <h1>
          Central de Inquéritos
      </h1>
    </div>
 
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" id="bt_new">
                NOVO INQUERITO
            </button>
        </div>
    </div>
  <div class="row_desc">
    <div class="row">
        <div  class="col-md-7">
            <div class="card" *ngFor="let i of items;">
                <h5 class="card-header">Titulo do Inquerito</h5>
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quaerat consequatur doloremque earum, tenetur quisquam iure fugiat veniam ullam nesciunt?</p>
                  <a href="#" class="btn btn-primary">VER MAIS</a>
                </div>
              </div>
              
        </div>
        <div class="col-md-5">
          
            <div class="container sub-container">
              
    
            </div>
        </div>
    </div>
  </div>

    
 </div>