<div class="container" id="home_container">

    <div class="title">
      <h1 class="text-primary" style="color: black;">
          Central Ocorrencias
      </h1>
    </div>
 
    <div>
       
         <div class="card card_chart">
            <div class="input-group mb-3">

           <!--     <span id="filtrar">Filtrar</span> --> <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar" aria-describedby="search">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </div>
              

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">LOCAL</th>
                    <th scope="col">CRIAÇÃO</th>
                    <th scope="col">APOIO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>20-05-21</td>
                    <td>20-05-21</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>20-05-21</td>
                    <td>20-05-21</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>20-05-21</td>
                    <td>20-05-21</td>
                  </tr>
                  
                </tbody>
              </table>
           </div>
      
    </div>

    
 </div>