<div class="container">
    <div class="container-fluid">
      <div><h1 class="title">Adicionar Informação</h1></div>
        <div class="row d-flex">
          <div class="col-lg">
            <!-- Income-->
            <div class="card income text-center">
                <form id="form">
                    <div class="form-group">
                      <label for="titulo">Título</label>
                      <input type="email" class="form-control" id="titulo" aria-describedby="tituloHelp" placeholder="Título">
                    
                    </div>
                    <div class="form-group">
                      <label for="descricao">Descrição</label>
                      <input type="descricao" class="form-control" id="descricao" placeholder="Descrição">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Conteúdo</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                
                  <div id="btns" class="row">
                      <div >
                        <button id="cancelar" type="submit" class="btn btn-primary">Cancelar</button>
                      </div>
                      <div >
                        <button id="salvar" type="submit" class="btn btn-primary">Enviar</button>
                      </div>
                  </div>
                  </form>
            </div>
          </div>
    
         
        </div>
      </div>
</div>